<configuration>

<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss} [%-5level] %logger{0} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/logs.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- your tree package specifically -->
    <logger name="io.github.youssefrashidy.Trees" level="ERROR"/>

    <root level="WARN">
        <appender-ref ref="FILE"/>
    </root>

</configuration>